.well<>= @description
#timeline
- if user
  .row<>
    #chatbox-frame.col-sm-9.col-md-9<>
      .input-group.chatbox<>
        %textarea#chatbox-textarea.form-control{:rows => "3"}<>
        %span.input-group-btn<>
          %button.btn.btn-primary{:onclick => "on_send_button()"}<> 送信
%script{:src => "/js/chat.js", :type => "text/javascript"}<>
